<!doctype html>
<html>
<head>
	<title>Week 10 Assignment</title>
		<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	{{{body}}}
	<script src="http://52.10.69.111:3000/public/static_javascript.js"></script>
</body>
</html>