<!doctype html>
<html>
<head>
	<title>Week 10 Assignment</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	{{{body}}}
	<script src="/static_javascript.js"></script>
</body>
</html>