<h1>MySQL Results:</h1>
<div id="addForm">
	<form id="addForm">
		<fieldset>
			<label>Name </label>
			<input type="text" name="name"><br>
			<label>Reps </label>
			<input type="number" name="reps"><br>	
			<label>Weight </label>			
			<input type="number" name="weight"><br>
			<label>Date </label>
			<input type="date" name="date"><br>	
			<label>Weight Units</label>
			<select name="lbs">
				<option value=1>lbs</option>
				<option value=0>kgs</option>			
			</select>
		</fieldset>
		
	</form>
		
</div>
	
	
	</form>
<p>{{results}}</p>

<script src="static_javascript.js"></script>