<h1>MySQL Results:</h1>
<div id="addForm">
	<form id="addForm">
		<fieldset>
			<input type="text" name="name"><br>
			<input type="number" name="reps"><br>		
			<input type="number" name="weight"><br>
			<input type="date" name="date"><br>
			<input type="text" name="name"><br>		
			<p>Weight Units</p>
			<select name="lbs">
				<option value=1>lbs</option>
				<option value=0>kgs</option>			
			</select>
		</fieldset>
		
	</form>
		
</div>
	
	
	</form>
<p>{{results}}</p>